/* global */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: #d8d8d8;
  color: #000;
}

section {
  margin-bottom: 1rem;
}
/* nav */
.topline {
  margin: 0;
  height: 4px;
}
.topline img {
  z-index: 2;
  display: flex;
}

.gog-navbar {
  height: 52px;
  color: #ccc;
  background-color: #2c2c2c;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.gog-navbar a {
  color: #ccc;
}
.gog-navbar a:hover {
  color: #fff;
}
.gov-navbar-brand {
  position: relative;
  top: -4px;
}
ul.navbar-nav li.nav-item > span {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}
/* caroseusel */
.gog-carousel-caption {
  left: 5%;
  right: 5%;
}
.carousel-indicators {
  bottom: -3rem;
}
.carousel-indicators li {
  background-color: #979797;
  /* height: 3px; */
}
.carousel-indicators .active {
  background-color: #86328a;
  /* border: 1px solid #86328a; */
  /* height: 3px; */
  /* loading indicator */
}
.carousel-inner {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 4rem;
}
.carousel-item {
  max-height: 460px;
  max-width: 1096px;
}
.gog-carousel-caption h4 {
  display: flex;
  flex: column;
  align-items: center;
}
.carouselBtn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  color: white;
  border: rgba(120, 56, 123, 1);
  background: linear-gradient(
    180deg,
    rgba(244, 0, 255, 1) 0%,
    rgba(120, 56, 123, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 28px 8px,
    rgba(0, 0, 0, 0.5) 0px 1px 5px 0px;
}
.imgOverflow {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  position: relative;
  overflow: hidden;
}

/* .jumbCarouselCaption {
  left: 5%;
  right: 5%;
  position: relative;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
} */
/* 4 cards */
.card-img-top {
  width: 256px;
  height: 116px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.card {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.smallTitle {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.card-price {
  font-size: 18px;
  font-weight: bold;
  text-align: end;
  display: flex;
  justify-content: end;
  margin-bottom: 0;
  align-items: center;
}

.btn-purple {
  background: rgb(120, 56, 123);
  color: white;
  font-weight: bolder;
  margin-right: 0.5rem;
}
.oldPrice {
  color: grey;
  font-size: 0.75rem;
  text-decoration: line-through;
}
.newPrice {
  line-height: 1rem;
}
/* motto */
.discriptive {
  font-size: 14px;
  color: #404040;
}
.discriptive a {
  color: #de8ae5;
}

.vl {
  border-left: 1px solid grey;
  height: 2rem;
  display: inline-flex;
  position: relative;
}
.motto-purple {
  color: rgb(134, 50, 138);
}
.gog-galaxy-text {
  font-size: 14px;
  font-weight: bold;
}
/* visa card */
.visaCard {
  color: white;
  padding: 2rem;
  align-items: center;
  display: flex;
  max-height: 100px;
  border-radius: 0.25rem;
  background-color: blue;
  background-image: url("./tile\ \(35\).jpg");
  background-position: center;
  background-attachment: scroll;
  background-size: 100%;
  background-repeat: no-repeat;
}
.visaGOG {
  left: 10%;
}
.vl2 {
  border-left: 1px solid grey;
  height: 3rem;
  display: inline-flex;
  position: relative;
}
/* Now on Sale */
.percentage {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #404040;
  border-radius: 50%;
  margin: auto 1rem;
}

.bi.bi-percent {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  top: 0.4rem;
  left: 0.4rem;
}

.featureDealsCard {
  width: 256px;
}
/* footer */
footer a,
footer {
  color: rgba(255, 255, 255, 0.43);
  line-height: 2rem;
  font-size: 12px;
  font-weight: 400;
}
footer a,
footer span {
  margin-left: 0;
  margin-right: 1rem;
}
footer a.active {
  color: rgb(218, 139, 240);
}
footer > .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer > div:nth-of-type(odd) {
  background-color: #262626;
}
footer > div:nth-of-type(even) {
  background-color: #2f2f2f;
}
.legal {
  margin-left: 1rem;
}
